<div class="row">
    <div>    
    <div class="col-md-3">
            <div class="block buysblock">
                <span class="icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
            <h1><span  id="new_orders">{{Winners}} / {{Years}}</span></h1>
            <p>&nbsp;</p>
            <h2>Winners</h2>
            </div>
        </div>        
         <div class="col-md-3">
            <div class="block commentsblock">
                <span class="icon"><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
            <h1 id="new_comments">{{Losers}} / {{Years}}</h1>
             <p>&nbsp;</p>
            <h2>Losers</h2>
            </div>
        </div>        
        <div class="col-md-3">
            <div class="block buysblock users">
                <span class="icon"><i class="fa fa-level-up" aria-hidden="true"></i></span>
            <h1 id="online_users">{{BPL}}</h1>
             <p>USD, achieved in year {{BPLyear}}<p>
            <h2>Highest profit</h2>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="block commentsblock servers">
                <span class="icon"><i class="fa fa-level-down" aria-hidden="true"></i></span>
            <h1 id="servers_up">{{WPL}}</h1>
            <p>USD, achieved in year {{WPLyear}}<p>
            <h2>Worst loss</h2>
            </div>
        </div>
    </div>
</div>
<div style="clear:left"></div>
<br/>
<br/>


