<p>
	This is the cutom page added later from scratch. We can create pages like this and start building our app. Place any components in here.
</p>
<h2 class="title">
	Custom page with custom components.
</h2>
<div id="chartdiv"></div>
<div>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam impedit consequatur repudiandae nulla voluptatum fugiat, nostrum odio quia fugit? Magnam reiciendis molestias illum ea. Voluptatem, provident nulla fuga rem cumque.
	<hr />
	<h2 class="title">Another Cool Chart</h2>
	<div id="chartdiv2"></div>
</div>